<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.BoardMapper">

	<sql id="criteria">
		<choose>
			<when test="type=='T'.toString()">
				(title like concat('%', #{keyword}, '%'))
			</when>
			<when test="type=='C'.toString()">
				(content like concat('%', #{keyword}, '%'))
			</when>
			<when test="type=='W'.toString()">
				(writer like concat('%', #{keyword}, '%'))
			</when>
			<otherwise>
				1 = 1 <!-- 조건이 없을 경우 전체 조회 -->
			</otherwise>
		</choose>
	</sql>
								<!-- sql문 실행 후 만들어진 데이터의 keyProperty를 가져옴 -->
	<insert id="insertSelectKey" useGeneratedKeys="true" keyProperty="bno">		
		insert into tbl_board (title, content, writer) 
			values (#{title}, #{content}, #{writer})
		
		<!-- 혹은 selectKey 지우고
		insert into (bno, title, content, writer) 
			values (#{select tbl_bload_seq.nextVal}, #{title}, #{content}, #{writer}) -->
	</insert>
	
	
	<select id="getList" resultType="com.blog.domain.BoardVo">
		select * from tbl_board
			order by bno desc
			where title like '%' || #{keyword}
	</select>
	
	<select id="getListPaging" resultType="com.blog.domain.BoardVo">
			select bno, title, content, writer, regdate, updatedate 
			from tbl_board
			where <include refid="criteria"/>
			order by bno desc
			limit #{amount} offset #{offset}
	</select>
	
	<select id="getTotal" resultType="int">
		select count(*) from tbl_board
			where <include refid="criteria"/> and bno > 0
	</select>
	
	<select id="getRead" resultType="com.blog.domain.BoardVo">
		select * from tbl_board
			where bno = #{bno}
	</select>
	
	<select id="getNext" resultType="com.blog.domain.BoardVo">
		<![CDATA[
		select * from tbl_board
			where bno > #{bno} 
			order by bno asc
			limit 1
		]]>
	</select>
	
	<select id="getPrev" resultType="com.blog.domain.BoardVo">
		<!-- sql내부에 < 등이 있을 시 사용 -->
		<![CDATA[
			select * from tbl_board
			where bno < #{bno} 
			order by bno desc
			limit 1
		]]>
	</select>
	
	<delete id="deletePolt">
		delete from tbl_board 
			where bno = #{bno}
	</delete>
	
	<update id="update">
		update tbl_board 
			set title = #{title}, content = #{content}, writer = #{writer}, updateDate = now()
			where bno = #{bno}
	</update>

	<insert id="insertReply">
		insert into tbl_reply (id, bno, content) values (#{id}, #{bno}, #{content})
	</insert>

	<select id="getListReply" resultType="com.blog.domain.ReplyVo">
		select * from tbl_reply where bno = #{bno}
	</select>

</mapper>