<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.SignUpMapper">

	<sql id="memberColumns">
		id,
		userName,
		password,
		email, 
		role
	</sql>
	
	<select id="countByLoginId" parameterType="String" resultType="int">
		select count(*) from tbl_member where userName = #{value}
	</select>
	
	<insert id="save" parameterType="com.blog.domain.MemberVo">
		insert into tbl_member (userName, password, email) 
			values (#{userName}, #{password}, #{email})
	</insert>
	
	<select id="findByLoginId" parameterType="String" resultType="com.blog.domain.MemberVo">
		select <include refid="memberColumns"></include> from tbl_member where userName = #{value}
	</select>
</mapper>