 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/layout}">
   
<th:block layout:fragment="css">
   <style>
	   	.fieldError {color:red;}
   </style>
</th:block>

<div layout:fragment="content">

	<!-- <c:set var="count" value="${pageMaker.total - (page.ct.pageNum-1)*5 }"/> -->
	<div class="container">
	  <div class="search_wrap">
		<div class="record_group">
			<p>총게시글<span th:text="${pageMaker.total}"></span>건</p>
		</div>
		<div class="search_group">
			<form name="myform" method="get" action="/port/list.do">
				<select th:name="type" class="select">
					<option value="T">제목</option>
					<option value="C">내용</option>
					<option value="W">글쓴이</option>
				</select>
				<input type="text" th:name="keyword" class="search_word">
				<input type="hidden" th:name="pageNum" th:class="${pageMaker.ct.pageNum}">
				<input type="hidden" th:name="amount" th:class="${pageMaker.ct.amount}">
				<button class="btn_search"><i class="fa fa-search"></i><span class="sr-only">검색버튼</span></button>
			</form>
		</div>
	</div> <!-- search end -->
	<div class="bord_list">
		<ul class="basic_board">
			<li th:each="blog : ${list}">
				<span class="date" th:if="${blog.regdate != null}">
					<em th:text="${#temporals.format(blog.regdate, 'dd')}"></em>
					<span th:text="${#temporals.format(blog.regdate, 'yyyy-MM')}"></span>
				</span>				<!-- Thymeleaf의 날짜 형식 지정 방식-->
				<div class="text_wrap">
					<div class="img_wrap" style="position: relative;">
						<img th:if="${!#lists.isEmpty(blog.attachList)}"
							th:src="@{/photo/${blog.attachList[0].uploadPath}/${blog.attachList[0].uuid}_${blog.attachList[0].fileName}}">
						<img th:if="${#lists.isEmpty(blog.attachList)}"
							th:src="/images/default.jpg">
						
						<!-- 첨부 이미지 목록 -->
                   		<div th:each="imglist, status : ${blog.attachList}">
                       		<div th:if="${status.first}">
                       	   		<!-- 첫 번째 이미지에 대해 스타일 적용 -->
							<img th:src="@{/upload/${imglist.uploadpath}/${imglist.uploadfile}}"
                    			alt="첨부 이미지" style="width: 10%;" class="smallimg">
                       		</div>
							<img th:src="@{/upload/${imglist.uploadpath}/${imglist.uploadfile}}"
             					alt="첨부 이미지" style="width: 10%;" class="smallimg">
						</div>
					</div>
					<span class="info">
						<span class="blue_text" th:text="'No. ' + ${blog.bno}"></span>
						<i class="bar"></i>
						<!-- <i class="fa fa-eye" th:text="${blog.viewcount}"></i> -->
					</span>
					<p class="title">
						<a th:href="@{/port/view.do(
                    		bno=${blog.bno}, 
                    		pageNum=${pageMaker.ct.pageNum}, 
                    		amount=${pageMaker.ct.amount}, 
                    		type=${pageMaker.ct.type}, 
                    		keyword=${pageMaker.ct.keyword}
                			)}" 
							th:text="${blog.title}">
						</a>
					</p>
					<span class="text" th:text="${blog.content}"></span>
					<a id="downloadButton" 
						th:if="${!#lists.isEmpty(blog.attachList)}" 
						th:data-filename="${blog.attachList[0].uploadPath} + '/' + ${blog.attachList[0].uploadFile}" 
						style="background: #00f; color: #fff; display: inline-block; padding: 6px 12px; cursor: pointer;">
						다운로드
					</a>
					</div>
			</li>
		</ul>
		<div class="paging">
         <div th:if="${pageMaker.total > 0}">
            <!-- 이전 페이지 링크 -->
            <div th:if="${pageMaker.prev}">
               <a th:href="@{/port/list.do(pageNum=${pageMaker.startPage - 1}, amount=10, type=${pageMaker.ct.type}, keyword=${pageMaker.ct.keyword})}">
                  <i class="fa fa-angle-double-left"></i>
               </a>
            </div>

            <!-- 페이지 번호 반복 -->
            <th:block th:each="page : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
               <a th:href="@{/port/list.do(pageNum=${page}, amount=${pageMaker.ct.amount}, type=${pageMaker.ct.type}, keyword=${pageMaker.ct.keyword})}"
                  th:classappend="${pageMaker.ct.pageNum == page} ? 'active'">
                  <span th:text="${page}"></span>
               </a>
            </th:block>

            <!-- 다음 페이지 링크 -->
            <div th:if="${pageMaker.next}">
               <a th:href="@{/port/list.do(pageNum=${pageMaker.endPage + 1}, amount=10, type=${pageMaker.ct.type}, keyword=${pageMaker.ct.keyword})}">
                  <i class="fa fa-angle-double-right"></i>
               </a>
            </div>
            
         </div>
         <a href="/port/write.do" class="btn_write">글쓰기</a>
         </div>
         <div th:if="${pageMaker.total == 0}">
             <p>게시글이 없습니다.</p>
         </div>
		
	</div>
	
         
      </div>
	<script>
		$(function() {
			$(".location  .dropdown > a").on("click",function(e) {
				e.preventDefault();
				if($(this).next().is(":visible")) {
					$(".location  .dropdown > a").next().hide();
				} else {
					$(".location  .dropdown > a").next().hide();
					$(this).next().show();
				}
			});
		});
	</script>

	</div>
	</html>