<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/layout}">
   
<th:block layout:fragment="css">
   <style>
	   	.fieldError {color:red;}
   </style>
</th:block>

<div layout:fragment="content">
   <div class="sub_title">
      <h2>회원 약관</h2>
      <div class="container">
        <div class="location">
         <ul>
            <li class="btn_home">
               <a href="/np/"><i class="fa fa-home btn_plus"></i></a>
            </li>
            <li class="dropdown">
               <a href="">커뮤니티<i class="fa fa-plus btn_plus"></i></a>
               <div class="dropdown_menu">
                  <a href="/np/list.do">공지사항</a>
                  <a href="allclass.html">학과및모집안내</a>
                  <a href="portfolio.html">포트폴리오</a>
                  <a href="online.html">온라인접수</a>
                  <a href="notice.html">커뮤니티</a>
               </div>
            </li>
            <li class="dropdown">
               <a href="/np/list.do">공지사항<i class="fa fa-plus btn_plus"></i></a>
               <div class="dropdown_menu">
                  <a href="/np/list.do">공지사항</a>
                  <a href="qa.html">질문과답변</a>
                  <a href="faq.html">FAQ</a>
               </div>
            </li>
         </ul>
        </div>
      </div><!-- container end -->
   </div>
   
   <div class="container">
		<div class="fl_clear">
	    	<label for="authtication">인증번호</label>
	   		<input type="text" name="email" id="email">
	    	<input type="text" name="authtication" id="authtication">
	   		<input type="button" name="btn_mail" id="btn_mail" value="메일 확인">
	    </div>
   		
   		<div>
   			<button type="button" id="btn_next">다음</button>
   			<!-- <button type="button" onclick="location.href=/">이전</button>    -->			
   		</div>
   </div>
   
   <script>

	var code="";
	var incode="";
	var authCheck=false;
	
	$("#btn_mail").on("click", function()
	{
		var regEmail = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[a-zA-Z0-9\-]+/;
	
		if (!regEmail.test($("#email").val()))
		{
			alert("메일 확인 필요");
			$("#email").focus();
			
			return false;
		}
		
		var email = $("#email").val();
		
		$.ajax
		({
			type: 'get',
			url: '/mem/mail.do?email=' + email,
			success: function(data)
			{
				code = data;
				$("#authtication").css("background","#f3f3f3");
				$("#test").val = code;
			}
		});
	});
	
	$("#btn_next").on("click", function()
	{
		location.href="/mem/sign.do?incodeCheck=" + incode;
		return;
		/* if (authCheck)
			location.href="/mem/sign.do?incodeCheck=" + incode;
		else
		{
			alert("메일인증 필요");

			return;
		} */
	});
	
	$("#authtication").input(function()
	{
		incode = $("#authtication").val();
		authCheck = true;
		/* if (incode == code)
		{
			$("num_check").html("인증번호 일치");
			authCheck = true;
		}
		else
		{
			$("#num_check").html("인증번호 불일치");
			authCheck = false;
		} */
	})		
   </script>

   </div>
</html>
