<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/layout}">
   
<th:block layout:fragment="css">
   <style>
	   	.fieldError {color:red;}
   </style>
</th:block>

<div layout:fragment="content">

	<div class="sub_title">
		<h2>회원가입</h2>
		<div class="container">
		  <div class="location">
			<ul>
				<li class="btn_home">
					<a href="index.html"><i class="fa fa-home btn_plus"></i></a>
				</li>
				<li class="dropdown">
					<a href="">커뮤니티<i class="fa fa-plus btn_plus"></i></a>
					<div class="dropdown_menu">
						<a href="gratings.html">공지사항</a>
						<a href="allclass.html">학과및모집안내</a>
						<a href="portfolio.html">포트폴리오</a>
						<a href="online.html">온라인접수</a>
						<a href="notice.html">커뮤니티</a>
					</div>
				</li>
				<li class="dropdown">
					<a href="">공지사항<i class="fa fa-plus btn_plus"></i></a>
					<div class="dropdown_menu">
						<a href="notice.html">공지사항</a>
						<a href="qa.html">질문과답변</a>
						<a href="faq.html">FAQ</a>
					</div>
				</li>
			</ul>
		  </div>
		</div><!-- container end -->
	</div>

	<div class="container">
		<div class="con_title">
            <h1>내정보(개인회원)</h1>
         <p>HOME / 마이페이지 / 내정보(개인회원)</p>
        </div>
		<div class="join_write col_989">
                <div class="list_con">
                    <ul class="icon_type1">
                        <li>회원정보는 개인정보 취급방침에 따라 안전하게 보호되며 회원님의 명백한 동의 없이 공개 또는 제3자에게 제공되지 않습니다.</li>
                    </ul>
                </div>
            <table class="table_write02" summary="회원가입을 위한 이름, 아이디, 비밀번호, 비밀번호확인, 소속, 유선전화번호, 휴대전화번호, 이메일, 주소, 본인확인질문, 본인확인답, 주활용사이트, 알림여부 정보 입력">
                <caption>회원가입을 위한 정보입력표</caption>
                <colgroup>
                    <col width="160px">
                    <col width="auto">
                </colgroup>
                <tbody id="joinDataBody">
                    <tr>
                        <th><label for="userName">아이디<span class="must"><b>필수입력</b></span></label></th>
                        <td>
                            <input type="text" th:name="userName" id="userName" class="w300">
                            <p id="idmsg"></p>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="password">비밀번호<!-- <span class="must"><b>필수입력</b></span> --></label></th>
                        <td>
                            <input type="password" th:name="password" id="password" class="w300">
                            <p id="pw1msg"></p>
                            <p class="guideTxt"><span class="tc_point">영문(대문자 구분), 숫자, 특수문자의 조합</span>으로 9~13자로 작성해 주십시오.</p>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="passwordCheck">비밀번호확인<!-- <span class="must"><b>필수입력</b></span> --></label></th>
                        <td>
                            <input type="password" th:name="passwordCheck" id="passwordCheck" class="w300">
                            <p id="pw2msg"></p>
                            <p class="guideTxt"><span class="tc_point">비밀번호 미입력시 기존비밀번호가 유지됩니다.</span></p>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="email">이메일<span class="must"><b>필수입력</b></span></label></th>
                        <td>
                            <input type="text" th:name="email" id="email" class="w300">
                            <p id="emailmsg"></p>
                        </td>
                    </tr>
               	</tbody>
            </table>
				<div class="btnArea Acenter pt60 pb100">
			        <button class="btn_round btn_large btn_BlueGray w180" id="btn_reset"><b>취소</b></button>
			        <button class="btn_round btn_large btn_pointColor w180" id="btn_submit"><b>확인</b></button>
			    </div>
        </div>
	</div>
	<!-- end contents -->
	
	<script>
    $(document).ready(function() {
    	
    	let csrfToken = $('meta[name="_csrf"]').attr('content');
        let csrfHeader = $('meta[name="_csrf_header"]').attr('content');
    	
        $(".location .dropdown > a").on("click", function(e) {
            e.preventDefault();
            if ($(this).next().is(":visible")) {
                $(".location .dropdown > a").next().hide();
            } else {
                $(".location .dropdown > a").next().hide();
                $(this).next().show();
            }
        });
        
        $("#userName").blur(function() {
            if (!$("#userName").val()) {
                $("#idmsg").html("<span style='color:#f00;'>아이디입력</span>");
            } else {
                $("#idmsg").html("");
            }
            $.ajax({
                type: 'post',
                url: '/mem/idcheck.do',
                data: { userName: $("#userName").val() },
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function(result) {
                    if (result <= 0) {
                        if ($("#userName").val() != "") {
                            $("#idmsg").html("<span style='color:#0f0;'>사용 가능합니다</span>");
                        }
                    } else {
                        if ($("#userName").val() != "") {
                            $("#idmsg").html("<span style='color:#f00;'>사용할 수 없습니다.</span>");
                            $("#userName").focus();
                        }
                    }
                },
                error: function() {
                    alert("통신에러 발생");
                }
            });
        });

        $("#password").blur(function() {
            if (!$("#password").val()) {
                $("#pw1msg").html("<span style='color:#f00;'>비밀번호입력</span>");
            } else {
                $("#pw1msg").html("");
            }
        });

        $("#passwordCheck").blur(function() {
            let password = $("#password").val();
            let passwordCheck = $("#passwordCheck").val();
            if (!$("#passwordCheck").val()) {
                $("#pw2msg").html("<span style='color:#f00;'>비밀번호입력</span>");
            } else {
                $("#pw2msg").html("");
            }
            if (password !== passwordCheck) {
                $("#pw2msg").html("<span style='color:#f00;'>비밀번호가 같지 않습니다.</span>");
                $("#password").focus();
            }
        });

        $("#btn_email").blur(function() {
            var email = $("#email").val();
            if (email == "") {
                $("#emailmsg").html("<span style='color:#f00;'>이메일 주소를 입력하세요.</span>");
                return false;
            }
        });

        

        $("#btn_submit").on("click", function() {
            var userName = $("#userName").val();
            var password = $("#password").val();
            var email = $("#email").val();
            
            // 입력 필드가 비어 있는지 확인
            if (userName && password && email) {
                $.ajax({
                    type: "post",
                    data: {
                        "userName": userName,
                        "password": password,
                        "email": email
                    },
                    url: "/mem/memberpro.do",
                    dataType: "json",
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                    },
                    success: function(data) {
                        alert(data.status);
                        location.href = "/";
                    },
                    error: function() {
                        alert("통신 에러!!");
                    }
                });
            } else {
                alert("모든 필드를 입력해주세요."); // 모든 필드를 확인하는 메시지
            }
        });
    });
</script>
</div>
