<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>koreaMap</title>
        <link rel="stylesheet" href="/css/korea.css" />
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    </head>
    <body>
    	<button id="map_btn">지도 열기</button>
    	<div id="scale-info" style="position: absolute; top: 10px; left: 10px; background: white; padding: 5px; border: 1px solid black;">
    Scale: 1
</div>
    	<div id="center-info" style="position: absolute; top: 40px; left: 10px; background: white; padding: 5px; border: 1px solid black;">
    Center: (0, 0)
</div>
    	
        <div id="map_container"></div>
    </body>
    <script type="text/javascript" src="/js/d3.js"></script>
    <script type="text/javascript" src="/js/test.js"></script>
</html>